<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Substa</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>PersonManagement</servlet-name>
    <servlet-class>substa.servlet.PersonManagement</servlet-class>
    <init-param>
      <param-name>jdbcDriver</param-name>
      <param-value>com.mysql.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>dbUrl</param-name>
      <param-value>jdbc:mysql://mysql2.cs.stonybrook.edu:3306/danpark?useUnicode=true&amp;characterEncoding=UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>dbUser</param-name>
      <param-value>danpark</param-value>
    </init-param>
    <init-param>
      <param-name>dbPass</param-name>
      <param-value>110142214</param-value>
    </init-param>
  </servlet>
   <servlet>
    <servlet-name>Signin</servlet-name>
    <servlet-class>substa.servlet.PersonManagement</servlet-class>
    <init-param>
      <param-name>jdbcDriver</param-name>
      <param-value>com.mysql.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>dbUrl</param-name>
      <param-value>jdbc:mysql://mysql2.cs.stonybrook.edu:3306/danpark?useUnicode=true&amp;characterEncoding=UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>dbUser</param-name>
      <param-value>danpark</param-value>
    </init-param>
    <init-param>
      <param-name>dbPass</param-name>
      <param-value>110142214</param-value>
    </init-param>
  </servlet>
</web-app>