@CHARSET "UTF-8";
body{
	padding-bottom:0;
}
.SubstaLabel {
  font-family : Tahoma;
  font-size : 30px;
  color : #231F20;
  color : rgb(35, 31, 32);
}
#containerBody{
	width:100%;
	padding : 3%;
}

#blankforBody{
	height:20%;
	margin-top: 40px;
	
}
#footer{
	padding-right : 5%;
	width:100%;
	background-color: #fbac47;
	
}
