@CHARSET "UTF-8";
body{
	padding-bottom:0;
}
.SubstaLabel {
  font-family : Tahoma;
  font-size : 30px;
  color : #231F20;
  color : rgb(35, 31, 32);
}
#containerBody{
	width:100%;
	padding : 3%;
}

#blankforBody{
	height:20%;
	margin-top: 40px;
	
}
#wrapper{
	background-color: #fbac47;
}
#footer{
	bottom: 0;
   height: 60px;
   position: relative;
   width: 100%;

	background-color: #fbac47;
	
}

.detailsBtn{
	margin-bottom : 5px;
	text-align :right;
	
}
#jumboTron1{
	padding-left:20px;
}
#jumboTron2{
	padding-left:20px;
}
