@CHARSET "UTF-8";

.upperPart{
	height:30%;
	margin-top: 100px;
	
}
.SubstaLabel {
  font-family : Tahoma;
  font-size : 30px;
  color : #231F20;
  color : rgb(35, 31, 32);
}
#containerBody{
	width:70%;
	padding : 3%;
}
#imagePart{
	
	text-align : center;
	height:100%;
	width : 50%;
 	float:left;
}
#theOtherPart{
	
	width : 50%;
	height:100%;
	float:right;
}
#btnBox{
	padding : 20%;
}
img{
	width : 40%;
}

